<div id="dialog">
  <h3>Please enter the 6-digit verification code we sent via email:</h3>
  <div id="form">
    <ng-otp-input
      #ngOtpInput
      (onInputChange)="onOtpChange($event)"
      [config]="{ length: 6, allowNumbersOnly: true, disableAutoFocus: true }"
    ></ng-otp-input>

    <button class="btn btn-primary mt-3" (click)="login()">
      Back To Login
    </button>

    <!-- <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="vCode[0]" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.vCode.errors }"/>
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="vCode[1]" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.vCode.errors }"/>
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="vCode[2]" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.vCode.errors }"/>
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="vCode[3]" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.vCode.errors }"/>
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="vCode[4]" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.vCode.errors }"/>
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="vCode[5]" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.vCode.errors }"/>
        <button [disabled]="loading" class="btn btn-primary btn-embossed">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Verify
        </button> -->
  </div>
</div>
