<h2>Reset Password</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="password">New Password</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
    />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="passwordConfirmation">Password Confirmation</label>
    <input
      type="password"
      formControlName="passwordConfirmation"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.passwordConfirmation.errors }"
    />
    <div
      *ngIf="submitted && f.passwordConfirmation.errors"
      class="invalid-feedback"
    >
      <div *ngIf="f.passwordConfirmation.errors.required">
        Password Confirmation is required
      </div>
      <div *ngIf="f.passwordConfirmation.errors.mustMatch">
        Passwords must match
      </div>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Submit
    </button>
    <a routerLink="/register" class="btn btn-link">Register</a>
    <a routerLink="/login" class="btn btn-link">Login</a>
  </div>
</form>
