<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      formControlName="firstName"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
    />
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input
      type="text"
      formControlName="lastName"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
    />
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="username">Email</label>
    <input
      type="text"
      formControlName="email"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
    />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="passwordHash">Password</label>
    <input
      type="password"
      formControlName="passwordHash"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.passwordHash.errors }"
    />
    <div *ngIf="submitted && f.passwordHash.errors" class="invalid-feedback">
      <div *ngIf="f.passwordHash.errors.required">Password is required</div>
      <div *ngIf="f.passwordHash.errors.minlength">
        Password must be at least 6 characters
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="passwordConfirmation">Confirm Password</label>
    <input
      type="password"
      formControlName="passwordConfirmation"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.passwordConfirmation.errors }"
    />
    <div
      *ngIf="submitted && f.passwordConfirmation.errors"
      class="invalid-feedback"
    >
      <div *ngIf="f.passwordConfirmation.errors.required">
        Confirm Password is required
      </div>
      <div *ngIf="f.passwordConfirmation.errors.mustMatch">
        Passwords must match
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="factory_authentication">Two Factory Authentication:</label>
    <input
      type="checkbox"
      formControlName="factory_authentication"
      class="form-control"
      value="true"
      style="width: auto;"
    />
  </div>
  <div class="form-group">
    <label for="factory_authentication" class="user-type">Type:</label>
    <input
      type="radio"
      name="usertype"
      class="type-radio"
      [(ngModel)]="usertype"
      [ngModelOptions]="{ standalone: true }"
      value="HB"
    />Employee
    <input
      type="radio"
      name="usertype"
      class="type-radio"
      [(ngModel)]="usertype"
      [ngModelOptions]="{ standalone: true }"
      value="TR"
    />Trainie
    <input
      type="radio"
      name="usertype"
      class="type-radio"
      [(ngModel)]="usertype"
      [ngModelOptions]="{ standalone: true }"
      value="VI"
    />Visitor
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Register
    </button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
  </div>
</form>
