<ng-container>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer> </mat-drawer>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          mat-icon-button
          *ngIf="currentUser && userVerified"
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <h1>
          <img
            src="https://www.hiddenbrains.com/public/local-cdn/images/hb-logo1.svg"
            alt=""
            class="logo"
          />
        </h1>
        <span class="menu-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav
      #sidenav
      mode="side"
      Fixed
      class="example-sidenav"
      style="margin-top: 64px;"
    >
      <button mat-button [routerLink]="'/'">Home</button>
      <button mat-button (click)="logout()">Logout</button>
    </mat-sidenav>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 offset-sm-2">
            <pm-alert></pm-alert>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</ng-container>
