<div class="row ">
  <div class="col-md-3">
    <div style="height: 0.3m">
      <img src="/assets/images/noImage.png " alt="" style="width: 85px;">
      <span>{{ userObj.id }}</span>
    </div>
  </div>
  
  <div class="col-md-9">
    <div>
      <h1>Hi {{ userObj.firstName }} {{ userObj.lastName }}!</h1>
      <span>{{userObj.tech}}</span><span style="float: right; margin-right: 20px;">{{userObj.department}}</span>
    </div>
    <div>ShiftIn: Out: () </div>  
  </div>
</div>

<div class='attendence'>
  
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="atdHeadder">
            <h4>Attendance Logs( {{todayDate | date:'dd - MMMM'}} )</h4>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-panel-description>
        <div class="atd-log">
          <table>
            <thead>
              <td>Atten.</td>
              <td>Event</td>
              <td></td>
              <td>Actual Time</td>
              <td>Correction</td>
            </thead>
          </table>
        </div>
      </mat-panel-description>
      
    </mat-expansion-panel>
    
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="atd inout">Attendence In / Out</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-panel-description>
        <form [formGroup]='attendenceForm'>
          <div class="container">
            <div class="row panel-description">
              <div class="col-4 col-lg-4 col-md-4 col-sm-4">Available @ <br> Located Now</div>
              <div class="col-8 col-lg-8 col-md-8 col-sm-8"><select class="form-control"><option>Hyderabad</option></select></div>
            </div>
            <div class="row panel-description">
              <div class="col-4 col-lg-4 col-md-4 col-sm-4">My Health is</div>
              <div class="col-8 col-lg-8 col-md-8 col-sm-8"><select class="form-control"><option>GOOD</option></select></div>
            </div>
          </div>
          <button class="form-control"> Submit </button>
        </form>
      </mat-panel-description>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="brk inout">Break In / Out</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-panel-description>

        
        <form [formGroup]="breakForm">
          <div class="container">
            <div class="row panel-description">
              <div class="col-4 col-lg-4 col-md-4 col-sm-4">Available @ <br> Located Now</div>
              <div class="col-8 col-lg-8 col-md-8 col-sm-8"><select class="form-control"><option>Hyderabad</option></select></div>
            </div>
            <div class="row panel-description">
              <div class="col-4 col-lg-4 col-md-4 col-sm-4">My Health is</div>
              <div class="col-8 col-lg-8 col-md-8 col-sm-8"><select class="form-control"><option>GOOD</option></select></div>
            </div>
          </div>
          <button class="form-control"> Submit </button>

        </form>

      </mat-panel-description>
    </mat-expansion-panel>
   
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="emergency inout">Emergency Leave</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-panel-description>
        <form [formGroup]="emergencyLeaveForm" id="elf">

          <label style="color:black;"> {{todayDate | date:'dd - MMMM'}} </label>
          <div class="form-group">
            <label for="start-date">Start Date</label>

            <select name='start-date' class="form-control">
              <option *ngFor="let day of daysArray">
                {{day}}
              </option>
            </select>
          </div>
          
          <div class="form-group"> 
            <textarea formControlName="comment" class="form-control rounded-0"></textarea>
          </div>
          <button class="form-control"> Submit </button>
        </form>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</div>


