<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <input
          type="text"
          formControlName="usertype"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.usertype.errors }"
          [(ngModel)]="usertype"
          disabled="true"
        />
        <div
          (click)="open(mymodal)"
          style="position:absolute; left:0; right:0; top:0; bottom:0;"
        ></div>

        <div *ngIf="submitted && f.usertype.errors" class="invalid-feedback">
          <div *ngIf="f.usertype.errors.required">Username is required</div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9">
        <input
          type="text"
          formControlName="username"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
    />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Login
    </button>
    <a routerLink="/register" class="btn btn-link">Register</a>
    <a routerLink="/forgot_password" class="btn btn-link">Forgot Password</a>
  </div>
</form>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select User Type</h4>
  </div>
  <div class="modal-body">
    <input
      type="radio"
      name="usertype"
      [(ngModel)]="usertype"
      value="HB"
    />Employee
    <input
      type="radio"
      name="usertype"
      [(ngModel)]="usertype"
      value="TR"
    />Trainie
    <input
      type="radio"
      name="usertype"
      [(ngModel)]="usertype"
      value="VI"
    />Visitor
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template>
<button *ngIf="Pwa.promptEvent" (click)="installPwa()" class="btn btn-primary">
  Install
</button>
