/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* @import "~font-awesome/css/font-awesome.min.css"; */

div.card-header {
    font-size: large;
}

div.card {
    margin-top: 10px;
}

.table {
    margin-top: 10px;
}

.active {
    color: white;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-h2, .mat-title, .mat-typography h2, label {
    color: black;
}

.jumbotron {
    border-radius: 0.0rem;
    color: black;
    min-height: 100%;
}

.mat-drawer-container {
    height: 100%;
}

.wh100 {
    width: 100%;
    color: black;
}

.bd-btm {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.atdHeadder {
    text-align: center;
}

.attendence .atd-log {
    height: 213px;
    border: 1px solid gray;
}

mat-expansion-panel.mat-expansion-panel.mat-expansion-panel-spacing {
    margin: 0px;
}

.mat-expansion-panel-content {
    background-color: white;
    color: black;
}

.panel-description {
    background-color: white;
    color: black;
    padding: 10px;
}

table {
    color: black;
}

#elf {
    width: 100%;
}

.user-type {
    margin-right: 20px;
}
