﻿﻿<div class="row bd-btm">
  <div class="col-md-3">
    <div style="height: 0.3m">
      <img src="/assets/images/noImage.png " alt="" style="width: 85px;" />
      <span>{{ user.id }}</span>
    </div>
  </div>

  <div class="col-md-9">
    <div>
      <h1>Hi {{ user.firstName }} {{ user.lastName }}!</h1>
      <span>{{ user.tech }}</span
      ><span style="float: right; margin-right: 20px;">{{
        user.department
      }}</span>
    </div>
  </div>
</div>

<ng-image-slider [images]="imageObject" #nav></ng-image-slider>

<a class="btn btn-primary wh100" routerLink="/attendance"> Go To Attendence </a>
